In [7]:
import pandas as pd
import re
import unidecode
data=pd.read_excel('Mini Catalogue V2.xlsx', skiprows=1).reset_index(drop=True) 
L=697
print(data["Désignation"][L])
print(data["N°"][L])
print(data["Code catégorie"][L])

Stylo bille Slider Edge XB bleu
21787
1301004

In [8]:
df = pd.DataFrame(data=data["Désignation"])
df2 = pd.DataFrame(data=data["N°"])
df3= pd.DataFrame(data=data["Code catégorie"])

In [9]:
df_cat=pd.concat([df2["N°"],df3["Code catégorie"]], axis=1)
df_cat = df_cat.dropna(axis = 0)
print(df_cat)

        N° Code catégorie
1    54568        2200240
2    37721        2200240
3    10908        2200240
5    15972        2200230
6    15971        2200230
..     ...            ...
982  61770        2001012
983  28646        2001012
984   9040        2001012
985  78756        2001010
986  78757        2001007

[871 rows x 2 columns]

In [11]:
data2=pd.read_excel('..\matching liste-BDD\output.xlsx', skiprows=0).reset_index(drop=True) 
df_result=data2["reference"]
df_quant=data2["quantite"]
df_cat2 = df_cat[:].values
liste_code=[]
for i in df_result:
    for j in df_cat2:
        if i==j[0]:
            liste_code.append(j[1])
            
import pandas as pd
  
df_code  = pd.DataFrame(data=liste_code)
df_code.set_axis(['Code'], axis='columns', inplace=True)
df_cat3=pd.concat([df_quant,df_result,df_code], axis=1)
print(df_cat3)
df_cat3.to_excel('result_code.xlsx',index=False) 
a = pd.read_excel('result_code.xlsx')
#print(a)

   quantite reference     Code
0         2     81597  1501402
1         0     68238      NaN
2         1  12471U10      NaN
3         0     20230      NaN
4         1     67587      NaN

# préférentiels

In [9]:
data2=pd.read_excel('Liste_avec_produits_par_défaut.xlsx', skiprows=0).reset_index(drop=True) 
data2=data2.dropna()
df_result=data2["Unnamed: 1"].dropna()
df_result=df_result.iloc[2:]
df_result = df_result.rename('ref')
df_result.reset_index(inplace = True, drop = True)

print(df_result)
data2.drop(["Unnamed: 0","Unnamed: 3"],axis=1)
df_cat2 = df_cat[:].values
liste_code=[]


for i in df_result:
    for j in df_cat2:
        if i==j[0]:
            liste_code.append(j[1])
            
import pandas as pd
  
df_code  = pd.DataFrame(data=liste_code)
df_code.set_axis(['Code'], axis='columns', inplace=True)
df_cat3=pd.concat([df_result,df_code], axis=1)
print(df_cat3)
df_cat3.to_excel('code_prio.xlsx',index=False) 
a = pd.read_excel('code_prio.xlsx')
#print(a)

0        20294
1        20230
2        42581
3        42580
4        79851
5        79853
6        83205
7        30902
8        79857
9         2831
10       81598
11       30456
12       11163
13       64140
14       25050
15       25051
16       58700
17    76123U50
18          10
19          11
20          12
21          13
22       34466
23       34653
24       89697
25       89698
26        1280
27        1281
28        1282
29        1283
30       64132
31       68436
32       35329
33       59936
34       60825
35       79842
36       78324
37       79846
38       81580
39       79844
40       79847
41       68250
42       71966
43       71967
44       71968
45       61331
46       63207
47       72821
48        2982
49       16298
50       73034
51       00BL1
Name: ref, dtype: object
         ref     Code
0      20294  2201202
1      20230  2201402
2      42581  2201404
3      42580  2201406
4      79851  1250214
5      79853  1250214
6      83205  1250218
7      30902  1250222
8      79857  1250222
9       2831  1250222
10     81598  1250222
11     30456  1400232
12     11163  1400202
13     64140  1400404
14     25050  1400414
15     25051  1400802
16     58700  1402426
17  76123U50  1301002
18        10  1301002
19        11  1301002
20        12  1301002
21        13  1301006
22     34466  1300412
23     34653  1301408
24     89697  1301408
25     89698  1302010
26      1280  1302010
27      1281  1302010
28      1282  1302010
29      1283  1302204
30     64132  1304002
31     68436  1303004
32     35329  1502002
33     59936  1502245
34     60825  1502202
35     79842  1502202
36     78324  1502205
37     79846  1502205
38     81580  1502215
39     79844  1502225
40     79847  1600402
41     68250  1500810
42     71966  1500810
43     71967  1500810
44     71968  1501002
45     61331  1251202
46     63207  1901414
47     72821  1905024
48      2982  1905024
49     16298  1800412
50     73034  1606002
51     00BL1      NaN